# Dependencies
node_modules

# Environment
.env

# Logs
npm-debug.log
*.log

# macOS
.DS_Store

# Git
.git
.gitignore

# Kubernetes
k8s

# Infrastructure
infra

# Docker
.dockerignore
Dockerfile

# Documentation
README.md
*.md

# CI/CD
.github