PORT=8000
# Mongo connection for local dev (change to your DB URI or use k8s Secret)
MONGO_URI=mongodb://mongo:27017/smart_task_manager
# Replace with a strong secret. Rotate if leaked.
JWT_SECRET=1c14e03fbe93ef776adf802f537334edb660dc223afd64cbc3b1b61be8873c65
